:root {
    --hieght-nav: 120px;
    --hieght-sm-nav: 80px;
}

nav {
    width: 100%;
    height: var(--height-nav);
    position: fixed;
    top: 0;
    z-index: 900;
}

.navigation {
    width: auto;
    /* height: 100%; */
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    padding-top: 1rem;
    margin: 0 2rem 0 2rem;
}

.navigation .nav-logo {
    width: 90px;
    height: auto;
    cursor: pointer;
}

.navigation .nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* z-index: 80; */
}

.navigation .theme-toggle {
    padding-right: 1rem;
    padding-left: 1rem;
    width: 60px;
    height: auto;
    cursor: pointer;
}

.app.dark .theme-toggle {
    color: #ffffff;
}
.app.light .theme-toggle {
    color: orange;
}

.theme-toggle svg {
    width: 100%;
    height: 100%;
}

.navigation .nav-menu img{
    width: 60px;
    height: auto;
    cursor: pointer;
    position: relative;
    z-index: 1000;
}

.navigation .nav-menu .menu-list {
    width: 400px;
    position: fixed;
    top: 100%;
    right: 0;
    height: auto;
    background-color: black;
    visibility: hidden;
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0s 0.3s;
    transform: translateX(100%);
    z-index: 20;
    /* z-index: 20; */
}

.navigation .nav-menu .menu-list.active {
    width: 400px;
    position: fixed;
    top: 0px;
    right: 0px;
    height: auto;
    background-color: black;
    transform: translateX(0); 
    opacity: 1;
    visibility: visible; 
    pointer-events: auto;
    /* z-index: 100; */
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0s 0s;

}
.navigation .nav-menu .menu-list li {
    line-height: 56px;
    list-style: none;
}

.navigation .nav-menu .menu-list li a {
    color: white;
    font-size: 20px;
}
.navigation .nav-menu .menu-list .active li a:hover{
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .navigation .theme-toggle {
        padding-right: 0.25rem;
        padding-left: 0.25rem;
        width: 45px;
        height: auto;
    }

    .navigation {
        margin: 0 0.75rem 0 0.75rem;
    }

    .nav {
        height: var(--hieght-sm-nav);
    }

    .navigation .nav-logo img{
        width: 50px;
    }
    .navigation .nav-menu img{
        width: 40px;
    }
}

@media only screen and (max-width: 640px) {
    .navigation .nav-menu .menu-list.active {
        width: 320px;
    }

}