/*
For Dark Mode: 
 */

:root {
    --color-background: #1B2224; 
    --color-red: #E14E41;
    --color-light-green: #9BBFB2;
    --color-light-red: #FE8E81;
    --color-light-blue: #637FAA;
    --color-news-btn: #2ECC71;

    --color-font: #ffffff;
}

/* 
Light Mode:
*/
.app.light {
    --color-background: rgb(231, 247, 255);
    --color-font: #000000;
}

body {
    margin: 0;
    padding: 0;
}

.app {
    background-color: var(--color-background);
    transition: background-color 0.3s ease;

    min-height: 100vh;
    overflow: hidden;
}

* {
    user-select: none;
}